@import "compass/css3";

.yam-horizontal, .yam-vertical {
  position: absolute;
}

.yam-horizontal {
  left: 0;
  right: 0;
  .yam-item {
    display: inline-block;
  }
}

.yam-vertical {
  float: left;
  .yam-item {
    display: block;
  }
}

.yam-menu {
  position: relative;
  display: block;
}